* {
  box-sizing: border-box;
}
/* font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif; */
.root {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #befbffb5, #a498be);
}
.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 30%;
}
/* ---------------------header */
header img {
  width: 200px;
  margin: 40px 0px;
}
/* -------------------------- Start-Window */
.start-window {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start-window img {
  width: 300px;
}

.start-window button {
  height: 70px;
  width: 250px;
  border-radius: 20px;
  border: solid #30747e 3px;
  filter: drop-shadow(3px 5px 5px #0325357c);
}
.start-window button p {
  font-family: "Righteous", cursive;
  font-size: 22px;
  color: #f8941d;
  font-weight: 400;
}
/* ---------------------------Cards Front */

.card {
  display: flex;
  width: 80%;
}
.card-front {
  height: 70px;
  width: 100%;
  margin: 10px 0px;
  border-radius: 20px;
  border: none;
  filter: drop-shadow(3px 5px 5px #0325357c);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-front p {
  font-family: "Righteous", cursive;
  font-size: 25px;
  color: #032535;
  font-weight: 400;
  position: relative;
}
.card-front ion-icon {
  font-size: 30px;
  position: absolute;
  right: 30px;
}
/* ------------------------Questions */
.question {
  height: 200px;
  width: 100%;
  background-color: #a9bfc2b7;
  margin: 10px 0px;
  border-radius: 20px;
  border: none;
  filter: drop-shadow(3px 5px 5px #0325357c);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.question p {
  width: 80%;
  font-family: "Righteous", cursive;
  font-size: 20px;
  text-shadow: 2px -2px 3px #f4f1f1;
  color: #032535;
  font-weight: 400;
  position: relative;
  text-align: start;
}

.question img {
  width: 25px;
  position: absolute;
  right: 20px;
}
/* ------------------------ answer */
.answer {
  height: 250px;
  width: 100%;
  background-color: #a9bfc2b7;
  margin: 10px 0px;
  border-radius: 20px;
  border: none;
  filter: drop-shadow(3px 5px 5px #0325357c);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
}

.answer p {
  width: 80%;
  margin: 10px 10px;
  font-family: "Righteous", cursive;
  font-size: 20px;
  text-shadow: 1px -1px 4px #f9f6f6;
  color: #032535;
  font-weight: 400;
  position: relative;
  text-align: start;
}
/* botoes de opções */
.options {
  width: 100%;
  display: flex;
}
.options button {
  font-family: "Roboto", sans-serif;
  width: 200px;
  min-height: fit-content;
  height: 60px;
  margin-left: 10px;
  border-radius: 10px;
}
.options p {
  font-size: 15px;
  margin: 0px;
  color: #ffffff;
  text-shadow: 1px -1px 4px #000000;
}
.negative-option {
  background-color: rgb(197, 4, 4);
}
.middle-option {
  background-color: #f08809;
}
.positive-option {
  background-color: #088c4e;
}

.negative p {
  color: red;
  text-decoration: line-through red;
}
.negative ion-icon {
  color: red;
}
.middle p {
  color: #d8ae2d;
  text-decoration: line-through #d8ae2d;
}
.middle ion-icon {
  color: #d8ae2d;
}
.positive p {
  color: #088c4e;
  text-decoration: line-through #088c4e;
}
.positive ion-icon {
  color: #088c4e;
}
/*---------------------------------- Footer */
footer {
  width: 100%;
  height: 15%;
  background-color: #f4f1f1;
  filter: drop-shadow(3px 5px 5px #0325357c);
  position: fixed;
  bottom: 0px;
}
footer p {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #032535;
  font-weight: 400;
  text-align: center;
  margin: 20px 0px;
}

footer .icons {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.result {
  height: 40%;
}
.title-result {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  font-family: "Righteous", cursive;
  font-size: 20px;
}
.title-result img {
  margin-left: 15px;
  width: 25px;
}
/* utilitarios */
.hide {
  display: none;
}
